PORT=5000
JWT_ACCESS_SECRET="gvjfkdfgdjsffldsdjskfdfdfjufdsfdoidsfjhdfdf"
JWT_REFRESH_SECRET="klijfe8ewfjkvjpdhjfdfdkjdkjlskaldksfuifkfdsf"
ADMIN_EMAIL=nikhilkumar4714@gmail.com
CLIENT_URL=http://localhost:5173
NODE_ENV=development
